[core]
  excludesfile = /Users/kazuki/.gitignore_global
[user]
  name = wassen
  email = k-asayama@outlook.com
[merge]
  tool = vimdiff
[color]
  ui = true
[mergetool]
  keepBackup = false
  path = nvim
[alias]
  graph=log --graph --oneline --decorate=full
  #open=! open http://$(git config remote.origin.url | sed -e \"s/^[a-z]*:\/\///\" | sed -e "s/git@//" | tr ":" "/")
  open=!open $(git config remote.origin.url | sed -Ee 's!(git@|git://|ssh://)!http://!' -e 's!:([^/])!/\\1!')
  private-config=!git config --replace-all user.name wassen && git config --replace-all user.email k-asayama@outlook.com
  co=checkout
[ghq]
    root = ~/workspace
[credential]
  helper = osxkeychain
