.netrwhist
.vim/dein/
.config/configstore/
.config/direnv/
.config/fish/fishd.*
.config/nvim/undo
.config/nvim/dein
.config/zsh/.zcompcache/
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/
.config/zsh/.zcompdump
.config/aws/
.gitconfig_user
